<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chicago Map</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://d3js.org/d3.v7.min.js"></script>
</head>
<body>
    <div id="map"></div>
    <div id="left-placeholder">Left Placeholder</div>
    <div id="bottom-placeholder-1">Bottom Placeholder 1</div>
    <div id="bottom-placeholder-2">Bottom Placeholder 2</div>
    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>
