<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aging Infra and Energy Efficiency</title>

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!-- Leaflet Heatmap Plugin -->
    <script src="https://unpkg.com/leaflet.heat/dist/leaflet-heat.js"></script>

    <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css" />


    <!-- Load Static Tag -->
    {% load static %}

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>Aging Infra and Energy Efficiency</h1>
    
    <div id="map" style="height: 500px;"></div>
    
    <div class="controls">
        <div>
            <label for="building-age-slider">Building Age:</label>
            <input id="building-age-slider" type="range" min="0" max="100" value="0">
            <span id="building-age-value">0</span>
        </div>
        <div>
            <label for="feature-dropdown">Filter by Feature:</label>
            <select id="feature-dropdown">
                <option value="Electricity Use">Electricity Use</option>
                <option value="Natural Gas Use">Natural Gas Use</option>
                <option value="GHG Emissions">GHG Emissions</option>
            </select>
        </div>
    </div>
    

    <div class="visualization" style="display: flex; justify-content: space-between; align-items: center;">
        <!-- Scatter Chart -->
        <div id="scatter-plot" style="flex: 1; margin-right: 20px;">
            <canvas id="scatterCanvas" width="400" height="300"></canvas>
        </div>
        
        <!-- Bar Chart -->
        <div id="bar-chart" style="flex: 1; margin-left: 20px;">
            <canvas id="barChartCanvas" width="400" height="300"></canvas>
        </div>
    </div>
    
    <!-- <div id="zip-details">
        <h3>Details for ZIP Code: <span id="zip-code">N/A</span></h3>
        <ul>
            <li>Average Building Area: <span id="avg-building-area">N/A</span></li>
            <li>Average GHG Emissions: <span id="avg-ghg-emissions">N/A</span></li>
            <li>Average Natural Gas Use: <span id="avg-natural-gas-use">N/A</span></li>
            <li>Average Electricity Use: <span id="avg-electricity-use">N/A</span></li>
        </ul>
    </div> -->

    <!-- Custom JavaScript -->
    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>
